/*Navbar Inicio*/
.navbar{
    display: flex;
    justify-content:center;
}
header{
    justify-content:space-between;
    background-color:white;
    width: 90%;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
    border-color: black;
    border-style:groove;
    font-size: larger;
}
a {
    color: rgb(0, 0, 0);padding: 20px 20px;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(240, 209, 217);transition: 1s;
    border-radius:20px;
}
/*Navbar Fin*/

/*About me*/
.about_me{
    width: 85%;
    margin: 50px auto;
    max-width: 1200px;
}
.title_img{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.container{
    padding: 15px;
    background-color:rgb(215,240,209);
    border-radius: 20px;
    border-color: black;
    border-style:groove; 
    margin: 50px 0;
}
/*About me Fin*/

/*Cards Lenguajes Inicio*/
.programation{
    width: 85%;
    max-width: 1200px;
    margin: 50px auto; 
}
.titulocards{
    border-radius: 0 0 15px 15px;
    background-color: black;
    height: flex;
    color:rgb(255,234,170);
    text-align: center;
}
.card_programation{
    background-color:rgb(255,234,170) ;
    width:300px;
    border-radius:20px;
    border-color: black;
    border-style:groove;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imagen{
    text-align: center;
}
h2{
    margin: 0;
}
.cards_programation{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
/*Cards Programas Fin*/

/*Proyecto Inicio*/
.visitar{
    background-color:rgb(240, 209, 217);
    width:20%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    border-style:groove;
}
/*Proyecto Fin*/

/*Contacto Inicio*/
form{
    background-color: white;
    width: 70%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    border-style:groove;
}
::placeholder{
    background-color: rgb(203,226,255);
    border-radius: 10px;
    border-color: black;
    border-style:groove;
}
#mensaje{
    background-color: rgb(203,226,255);
    border-radius: 10px;
    border-color: black;
    border-style:groove;
    width: 90%; 
}
button{
    border-radius: 10px;
    border-color: black;
    border-style:groove;
    background-color:rgb(240, 209, 217);
    width: 40%; 
}
/*Contacto Fin*/

/*Footer Inicio*/
footer{
    background-color:black;
    height: 200px;
}
#gracias{
    color:rgb(215,240,209);
}
#correojaz{
    color:rgb(215,240,209);
}
/*Footer Fin*/